<header class="w-full h-20 bg-white border-b border-gray-300">
    <nav class="h-full container mx-auto">
        <div class="h-full flex flex-row justify-between items-center">
            <div class="flex flex-row gap-3 items-center cursor-pointer" [routerLink]="'/home'">
                    <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg">
                    <h1 class="text-2xl font-light">Locus</h1>
            </div>
            <div class="flex gap-4 items-center">
                <button class="btn-transparent" (click)="openModalSignIn()">Sign in</button>
                <button class="btn bg-indigo-500 hover:bg-indigo-600 focus:ring-indigo-600">Sign up</button>
                <!-- <button class="btn-transparent">Logout</button>
                <div>
                    <img src="https://github.com/lucasrufo.png" alt="Github avatar" class="w-14 h-14 rounded-full ring ring-purple-400">
                </div> -->
            </div>
        </div>
    </nav>
</header>
