<main class="container mx-auto">
    <section class="grid grid-cols-2 mt-28">
        <div>
            <div class="relative w-full">
                <div class="top-4 left-40 bg-indigo-300 circle animate-blob"></div>
                <div class="top-4 left-64 bg-purple-300 circle animation-delay-2000 animate-blob"></div>
                <div class="top-16 left-52 bg-pink-300 circle animation-delay-4000 animate-blob"></div>
            </div>
            <div class="h-96 flex flex-col justify-center items-center gap-5">
                <div class="card">
                    <div class="flex flex-row justify-center items-center gap-5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                        </svg>
                        <h3 class="text-xl">Simple dashboard</h3>
                    </div>
                </div>

                <div class="card">
                    <div class="flex flex-row justify-center items-center gap-5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                        </svg>
                        <h3 class="text-xl">Graphics all the way</h3>
                    </div>
                </div>

                <div class="card">
                    <div class="flex flex-row justify-center items-center gap-5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                        </svg>
                        <h3 class="text-xl">Has everything you need</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-96 flex flex-col justify-center">
            <h1 class="text-4xl text-purple-900 font-semibold">Locus has the power to handle your finances</h1>
            <h2 class="text-2xl leading-9 mt-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate corporis vel velit dicta nihil. Rerum vel quibusdam in itaque rem, aut illum et autem totam vero maiores harum molestiae magnam!</h2>
        </div>
    </section>
    <section class="grid grid-cols-2 mt-48">
        <div class="h-96 flex flex-col justify-center">
            <h1 class="text-4xl text-purple-900 font-semibold">Save all your transactions</h1>
            <h2 class="text-2xl leading-9 mt-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate corporis vel velit dicta nihil. Rerum vel quibusdam in itaque rem, aut illum et autem totam vero maiores harum molestiae magnam!</h2>
        </div>
        <div class="flex justify-center items-center">
            <img class="w-8/12" src="assets/home-image.svg" alt="Home image">
        </div>
    </section>
</main>